body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

header p {
    text-align: center;
}

section {
    padding: 20px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

#projects .project {
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-left: #77aaff 3px solid;
}

#skills ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#skills li {
    display: inline;
    padding: 0 20px;
}

#contact {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}